<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Form</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>


<body class="flex items-center justify-center min-h-screen bg-center bg-cover" style="background-image: url('/static/bg.jpg');">
    <div >
        <form method="get" action="{{ url_for('search') }}" class="flex flex-col items-center space-y-4">
            <div class="flex items-center space-x-2">
                <svg width="18pt" height="18pt" viewBox="0 0 18 18" class="text-purple-500 search-box-magnifier"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M17.7,15.1l-4.5-3.9c0.8-1.1,1.3-2.5,1.3-4c0-3.9-3.2-7.1-7.1-7.1S0.3,3.2,0.3,7.1c0,3.9,3.2,7.1,7.1,7.1 c1.4,0,2.7-0.4,3.8-1.1l4.5,3.9c0.3,0.3,0.7,0.4,1,0.4c0.3,0,0.7-0.1,0.9-0.4C18.2,16.5,18.2,15.6,17.7,15.1z M2.5,7.1 c0-2.7,2.2-4.9,4.9-4.9s4.9,2.2,4.9,4.9c0,2.7-2.2,4.9-4.9,4.9S2.5,9.8,2.5,7.1z"
                        fill="#29ACE2" class="search-box-magnifier-icon"></path>
                </svg>
                <h1 class="text-3xl font-bold text-[#29ACE2] py-2">Search</h1>
            </div>

            <div class="flex items-center space-x-2 py-2">
                <input type="search" id="default-search" name="search_query"
                    class="block w-64 px-4 py-2 text-xl text-gray-900 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Enter your search query" required />

                <button type="submit"
                    class="text-white bg-[#29ACE2] px-6 py-2 rounded-md focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-lg">
                    SEARCH
                </button>
            </div>

            <div class="flex items-center space-x-2">
                {% if search_engines %}
                <select name="search_engine" id="search_engine"
                    class="block w-40 px-4 py-2 text-xl text-gray-900 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                    {% for engine in search_engines %}
                    {% if engine == search_engine %}
                    <option value="{{ engine }}" selected>{{ engine }}</option>
                    {% else %}
                    <option value="{{ engine }}">{{ engine }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                {% endif %}

                <select id="top_documents" name="top_documents"
                class="block w-16 px-4 py-2 text-xl text-gray-900 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                <option value="10" {% if current_k == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if current_k == 20 %}selected{% endif %}>20</option>
                <option value="30" {% if current_k == 30 %}selected{% endif %}>30</option>
                <option value="40" {% if current_k == 40 %}selected{% endif %}>40</option>
                <option value="49" {% if current_k == 49 %}selected{% endif %}>49</option>
                </select>
<!-- 
                <select id="top_documents" name="top_documents" class="block w-16 px-4 py-2 text-xl text-gray-900 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500">
                    {% for value in [10, 20, 30, 40, 50] %}
                        <option value="{{ value }}" {% if current_k == value %} selected {% endif %}>{{ value }}</option>
                    {% endfor %}
                </select> -->

            </div>
        </form>
    </div>
</body>

</html>
