<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="max-w-screen-md mx-auto">
        <form method="get" action="{{ url_for('search') }}" class="flex flex-col items-center">
            <div class="flex">
                <svg width="18pt" height="18pt" viewBox="0 0 18 18" class="search-box-magnifier text-purple-500" x="0px"
                    y="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                        d="M17.7,15.1l-4.5-3.9c0.8-1.1,1.3-2.5,1.3-4c0-3.9-3.2-7.1-7.1-7.1S0.3,3.2,0.3,7.1c0,3.9,3.2,7.1,7.1,7.1 c1.4,0,2.7-0.4,3.8-1.1l4.5,3.9c0.3,0.3,0.7,0.4,1,0.4c0.3,0,0.7-0.1,0.9-0.4C18.2,16.5,18.2,15.6,17.7,15.1z M2.5,7.1 c0-2.7,2.2-4.9,4.9-4.9s4.9,2.2,4.9,4.9c0,2.7-2.2,4.9-4.9,4.9S2.5,9.8,2.5,7.1z"
                        fill="#29ACE2" class="search-box-magnifier-icon"></path>
                </svg>
                <h1 class="text-3xl mb-3.5 ml-2 font-bold" style="color: #29ACE2;">Search</h1>
            </div>

            <div class="flex items-center mt-1">

                <!-- Input teks untuk query pencarian -->
                <input type="search" id="default-search" name="search_query"
                    class="block ps-2 py-2 text-xl text-gray-900 border-black border bg-gray-50 focus:ring-blue-500 focus:border-blue-500 3/4 pr-2 mb-2"
                    required />

                <!-- Tombol submit untuk menjalankan pencarian -->
                <button type="submit"
                    class="text-white bg-[#29ACE2] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium text-lg px-6 py-2">
                    <p>SEARCH</p>
                </button>
            </div>
            <div>
                {% if search_engines %}
                <!-- Dropdown untuk memilih mesin pencari -->
                <select name="search_engine" id="search_engine"
                    class="block ps-2 py-2 text-xl text-gray-900 border-black border bg-gray-50 focus:ring-blue-500 focus:border-blue-500 1/4 pr-2 mb-2">
                    {% for engine in search_engines %}
                    {% if engine == search_engine %}
                    <option value="{{ engine }}" selected>{{ engine }}</option>
                    {% else %}
                    <option value="{{ engine }}">{{ engine }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                {% endif %}

                {% if current_k %}
                <!-- Input teks untuk jumlah top dokumen -->
                <input type="number" id="top_documents" name="top_documents" min="1" value="{{ current_k }}"
                    class="block ps-2 py-2 text-xl text-gray-900 border-black border bg-gray-50 focus:ring-blue-500 focus:border-blue-500 1/4 pr-2 mb-2">

                {% else %}
                <!-- Input teks untuk jumlah top dokumen -->
                <input type="number" id="top_documents" name="top_documents" min="1" value="60"
                    class="block ps-2 py-2 text-xl text-gray-900 border-black border bg-gray-50 focus:ring-blue-500 focus:border-blue-500 1/4 pr-2 mb-2">

                {% endif %}
            </div>
        </form>
    </div>
</body>

</html>